@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;


.artwork {
    &__feature-gallery {
        display: flex;
        flex-direction: column;

        h2 {
            @include font-sub-title;
            padding-inline: calc($SPACING * 4);
        }
    }

    &__scroller {
        overflow-x: scroll;
    }

    &__item-container {
        display: flex;
        gap: calc($SPACING * 3);
        min-width: 175vw;
        align-items: baseline;
        padding: calc($SPACING * 4);
    }

    &__item {
        max-width: 30vw;
        object-fit: cover;
    }

    &__item-artist {
        @include font-body-alter($COLOR-PRIMARY-TEXT);
        font-weight: 600;
    }

    &__item-title {
        @include font-body-alter($COLOR-SECONDARY-TEXT);
        
        span {
            font-style: italic;
        }
    }
}