@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

$TABLE-BORDER: 1px solid $COLOR-GRID-BORDER;

.lot {
    &__bid-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__current-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__bid-score-board {
        max-width: 20rem;
        min-width: 15rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-inline: auto;

        &--time {
            border-right: $TABLE-BORDER;
        }

        &--row {
            display: flex;
            border-bottom: $TABLE-BORDER;

            & > * {
                flex: 1;
            }
        }

        div:last-child {
            border-bottom: none;
        }
    }
}