@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

img {
    max-height: 100vh;
    object-fit: cover;
    margin-inline: auto;
    border-radius: 3px;
}