$SPACING: 0.5rem;

$BORDER-COLOR: rgb(255, 255, 255, 0.1);

$COLOR: #e6c591; // lighter main text
$COLOR-ALTER: #be995e; // darker borders

$COLOR-BACKGROUND-MAIN: #080a0f;
$COLOR-BACKGROUND-ALTER: #13151e;

$COLOR-ERROR: #cf3b3b;