$SPACING: 0.5rem;

$COLOR-GRID-BORDER: rgba(190, 153, 94, 0.2);


$COLOR-PRIMARY-TEXT: #e6c591; // alter background
$COLOR-PRIMARY-BACKGROUND: #080a0f; // alter text
$COLOR-PRIMARY-BORDER: #be995e; // 

$COLOR-SECONDARY-TEXT: #c09a5e; // 
$COLOR-SECONDARY-BACKGROUND: #13151e; //

$COLOR-ERROR: #cf3b3b;






