@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

// $top-bot-padding: 10vh;
.gallery__image {
    width: 100%;
    @include aspect-ratio;
    object-fit: cover;
    margin-bottom: 12.5%;
    // opacity: 0;
    // scale: 0.2;
    // animation: fade-in-fade-out ease-in forwards;
    // animation-timeline: view();
    // animation-range: entry calc($top-bot-padding * 2.5) cover 90%;
}

// @keyframes fade-in-fade-out {
//     40%, 60% {
//         opacity: 1;
//         scale: 1;

//     }
//     100% {
//         opacity: 0;
//         scale: 0.2;

//     }
// }