@use "../../styles/partials/variables" as *;

@use "../../styles/partials/mixins" as *;


.discover {
    &__scroller-container {
        width: 100%;
        overflow: hidden;
        mask: linear-gradient(
            90deg, 
            transparent, 
            white 20%, 
            white 80%, 
            transparent
        );
    }

    &__scroller {
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        gap: calc($SPACING * 2);
        list-style: none;
        padding: calc($SPACING * 2) 0;
        margin: 0;
    }
}