@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;


.gallery__navigate-icon {
    width: 10%;
    cursor: pointer;

    & > svg {
        width: 100%;
    }
    & > svg > path {
        width: 100%;
        stroke: white;
        fill: white;
    }
}
