@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;


.artwork {
    display: flex;
    flex-direction: column;
    gap: calc($SPACING * 3);

    h1 {
        @include font-title;
        padding: calc($SPACING * 10) calc($SPACING * 4);
    }
}